@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
.carousel-item{
    height: 500px;
    padding: auto;
}
.quote{
    box-sizing: border-box;
    color: rgb(225,225, 225);
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    line-height: 42px;
    margin-bottom: 30px;
    text-size-adjust: 100%;
    line-height: 42px;
    margin-block-start: 0px;
    text-align: center;
    
    padding: 60px;
  

}
.footer{
    height: 120px;
    background-color: rgb(148,73,156);
    
    display: flex;
    justify-content: center;
   
    align-items: center;
    flex-direction: column;
    
}
